.Button {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  transition: font-size 150ms;
  min-height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.active {
  font-size: 20px;
}

.openSymbol {
  font-size: 30px;
}

.firContent {
  width: fit-content !important;
  padding: 5px 10px !important;
  min-height: 40px !important;
  justify-content: center;
}
