.Button {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  transition: font-size 150ms;
  min-height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #333;
}

.active {
  font-size: 20px;
}

.openSymbol {
  font-size: 30px;
}
